<!doctype html>
<html class="no-js" lang="en">
{% set _v = 2 %}
<base href="http://127.0.0.1:8000">
<head>
    <meta charset="utf-8">
    {% block title %}
    <title>Engrave static website</title>
    {% endblock %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">

    <link rel="stylesheet" href="base.css?v={{_v}}">
    <script defer type="module" src="base.js?v={{_v}}"></script>
    {% block head %}{% endblock %}
</head>

<body>
{% block sidebar %}{% endblock %}
{% block body %}{% endblock %}
</body>
</html>