@import '../node_modules/prismjs/themes/prism.css';

@font-face {
    font-family: 'fira-sans';
    src: url('./asset/fonts/FiraSans-Regular.ttf') format('woff2');
}

html {
    font-family: fira-sans;
    padding-bottom: 20vh;
    line-height: 1.7;
}

code {
    border-radius: 4px;
    background-color: #444;
    color: white;
    padding: 0.25rem;
}

.container {
    max-width: 1000px;
    min-width: 280px;
    width: 90%;
    margin: auto;
}

.row {
    width: 100%;
}