@use '../node_modules/packet-ui/dist/normalize.css';
@use '../node_modules/packet-ui/dist/packet-ui.css';
@use '../node_modules/highlight.js/styles/monokai.css';

@font-face {
    font-family: 'packet-ui';
    src: url('./asset/fonts/Cantarell-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'fira-sans';
    src: url('./asset/fonts/FiraSans-Regular.ttf') format('woff2');
}

body {
    font-family: fira-sans;
    padding-bottom: 20vh;
}

code {
    border-radius: 4px;
}

.container {
    max-width: 1000px;
    min-width: 280px;
    width: 90%;
    margin: auto;
}