@import '../node_modules/prismjs/themes/prism.css';
@import '../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css';
@import '../node_modules/prismjs/plugins/line-highlight/prism-line-highlight.css';
@import '../node_modules/prism-themes/themes/prism-xonokai.css';


@font-face {
    font-family: 'fira-sans';
    src: url('./asset/fonts/FiraSans-Regular.ttf') format('woff2');
}

html {
    font-family: fira-sans;
    padding-bottom: 20vh;
    line-height: 1.7;
}

code {
    border-radius: 4px;
    background-color: #444;
    color: white;
    padding: 0.25rem;
}

pre code {
    padding: 0;
}

.container {
    max-width: 1000px;
    min-width: 280px;
    width: 90%;
    margin: auto;
}

.row {
    width: 100%;
}

blockquote {
    margin: 0;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-left: 4px solid blue;
    background-color: #ddd;
    border-radius: 5px;
    border-top-left-radius: 0;
}

el-tag.title-block {
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

el-tag > code {
    margin: 0.1rem 0.2rem;
    padding: 0.25rem 0.5rem;
}